@font-face {
    font-family: font;
    src: url('../fonts/Acme-Regular.ttf');
}

body {
    display: grid;
    grid-template-rows: 160px 1fr 72px;
    grid-template-areas: "header" "main" "footer";
    margin: 0px;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113));
}

::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 95, 109);
}

header {
    grid-area: header;
}

.header {
    display: flex;
    justify-content: center;
    height: 160px;
    width: 100%;
    background-color: rgba(241, 192, 86, 0.521);
    animation-name: slideInDown;
    animation-duration: 2s;
    border-bottom: solid 1px rgb(226, 136, 34);
}

.robo {
    height: 130px;
    position: absolute;
    left: 25px;
    top: 20px;
    animation-name: rubberBand;
    animation-delay: 3s;
    animation-duration: 1s;
}

.robo img {
    height: 100%;
}

.text {
    background-image: url('../imgs/backgroundText.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px;
    text-align: center;
    font-family: font, sans-serif;
}

.text h2 {
    padding-top: 30px;
    color: #fff;
    font-size: 1.7em;
    animation-name: zoomIn;
    animation-duration: 3s;
}

.text h5 {
    font-size: 0.9em;
    padding-top: 5px;
    color: rgb(255, 255, 255);
    animation-delay: 4s;
    animation-name: heartBeat;
    animation-duration: 1s;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation-name: fadeIn;
    animation-duration: 4s;
}

[btnConfirmar] {
    float: right;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    animation-name: slideInUp;
    animation-duration: 2s;
}

.footer span {
    color: #fff;
}
